<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :title, class:'form-control', placeholder: 'Título' %><br>
  <%= form.text_field :author, class:'form-control', placeholder: 'Autor' %><br>
  <%= form.select :status, [["En estante", :shelf], ["Prestado", :lent]], {selected: params[:status]}, class:'form-control', placeholder: 'Status' %><br>
  <%= form.label :checkout %>
  <%= form.text_field :lended_to, class:'form-control', placeholder: 'Prestado a:' %><br>
  <%= form.date_field :checkout, class:'form-control' %><br>
  <%= form.label :checkin %>
  <%= form.date_field :checkin, class:'form-control' %>

  <br><br>
  <div class="text-center">
  <%= form.submit 'Submit', class: 'actions btn btn-info text-white' %>
  </div>
  <br>
<% end %>
